In [193]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [199]:
df = pd.read_csv("tmdb_5000_movies.csv")
movies = df[["id","original_title","vote_count","vote_average"]]
movies

,id,original_title,vote_count,vote_average
0,19995,Avatar,11800,7.2
1,285,Pirates of the Caribbean: At World's End,4500,6.9
2,206647,Spectre,4466,6.3
3,49026,The Dark Knight Rises,9106,7.6
4,49529,John Carter,2124,6.1
...,...,...,...,...
4798,9367,El Mariachi,238,6.6
4799,72766,Newlyweds,5,5.9
4800,231617,"Signed, Sealed, Delivered",6,7.0
4801,126186,Shanghai Calling,7,5.7
4802,25975,My Date with Drew,16,6.3

In [201]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("white")

In [243]:
movieRating = movies["vote_average"].to_numpy()
print(movieRating.shape)
movieRating.reshape(-1,1)
print(movieRating.shape)

(4803,)
(4803,)